# IDEs
.idea/

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock
.DS_Store
assets/.DS_Store
config/.DS_Store
config/_default/config.yaml
content/.DS_Store
content/authors/.DS_Store
content/home/posts.md
content/home/project.md
content/home/welcome.md
content/project/.DS_Store
content/project/getting-started/index.md
content/project/micro-structures/.DS_Store
content/project/micro-structures/featured.jpg
content/project/micro-structures/index.md
content/project/nonlinear-waves/.DS_Store
content/project/nonlinear-waves/featured.jpg
content/project/nonlinear-waves/index.md
sponsors-main/.DS_Store
sponsors-main/.editorconfig
sponsors-main/.gitignore
sponsors-main/LICENSE.md
sponsors-main/README.md
sponsors-main/update.sh
sponsors-main/view.sh
sponsors-main/.github/FUNDING.yml
sponsors-main/cheat-sheets/.DS_Store
sponsors-main/cheat-sheets/wowchemy-cheatsheet.md
sponsors-main/cheat-sheets/media/hugo-logo.png
sponsors-main/templates/.DS_Store
sponsors-main/templates/academic-pages/go.mod
sponsors-main/templates/academic-pages/netlify.toml
sponsors-main/templates/academic-pages/preview.webp
sponsors-main/templates/academic-pages/README.md
sponsors-main/templates/academic-pages/assets/media/icon.png
sponsors-main/templates/academic-pages/assets/media/li-yang-5h_dMuX_7RE-unsplash.webp
sponsors-main/templates/academic-pages/assets/media/icons/brands/.gitkeep
sponsors-main/templates/academic-pages/assets/scss/template.scss
sponsors-main/templates/academic-pages/config/_default/config.yaml
sponsors-main/templates/academic-pages/config/_default/menus.yaml
sponsors-main/templates/academic-pages/config/_default/params.yaml
sponsors-main/templates/academic-pages/content/admin/index.md
sponsors-main/templates/academic-pages/content/authors/_index.md
sponsors-main/templates/academic-pages/content/authors/admin/_index.md
sponsors-main/templates/academic-pages/content/authors/admin/avatar.jpg
sponsors-main/templates/academic-pages/content/contact/contact.md
sponsors-main/templates/academic-pages/content/contact/index.md
sponsors-main/templates/academic-pages/content/event/_index.md
sponsors-main/templates/academic-pages/content/event/example/featured.jpg
sponsors-main/templates/academic-pages/content/event/example/index.md
sponsors-main/templates/academic-pages/content/home/bio.md
sponsors-main/templates/academic-pages/content/home/index.md
sponsors-main/templates/academic-pages/content/home/posts.md
sponsors-main/templates/academic-pages/content/home/welcome.md
sponsors-main/templates/academic-pages/content/post/_index.md
sponsors-main/templates/academic-pages/content/post/getting-started/featured.jpg
sponsors-main/templates/academic-pages/content/post/getting-started/index.md
sponsors-main/templates/academic-pages/content/post/jupyter/featured.png
sponsors-main/templates/academic-pages/content/post/jupyter/index_1_0.png
sponsors-main/templates/academic-pages/content/post/jupyter/index.ipynb
sponsors-main/templates/academic-pages/content/post/jupyter/index.md
sponsors-main/templates/academic-pages/content/post/writing-technical-content/featured.jpg
sponsors-main/templates/academic-pages/content/post/writing-technical-content/index.md
sponsors-main/templates/academic-pages/content/post/writing-technical-content/line-chart.json
sponsors-main/templates/academic-pages/content/post/writing-technical-content/results.csv
sponsors-main/templates/academic-pages/content/project/external-project/featured.jpg
sponsors-main/templates/academic-pages/content/project/external-project/index.md
sponsors-main/templates/academic-pages/content/project/internal-project/featured.jpg
sponsors-main/templates/academic-pages/content/project/internal-project/index.md
sponsors-main/templates/academic-pages/content/publication/_index.md
sponsors-main/templates/academic-pages/content/publication/conference-paper/cite.bib
sponsors-main/templates/academic-pages/content/publication/conference-paper/featured.jpg
sponsors-main/templates/academic-pages/content/publication/conference-paper/index.md
sponsors-main/templates/academic-pages/content/publication/journal-article/cite.bib
sponsors-main/templates/academic-pages/content/publication/journal-article/featured.jpg
sponsors-main/templates/academic-pages/content/publication/journal-article/index.md
sponsors-main/templates/academic-pages/content/publication/preprint/featured.jpg
sponsors-main/templates/academic-pages/content/publication/preprint/index.md
sponsors-main/templates/academic-pages/content/slides/example/index.md
sponsors-main/templates/academic-pages/data/themes/custom.toml
sponsors-main/templates/academic-pages/static/uploads/resume.pdf
sponsors-main/templates/conference/go.mod
sponsors-main/templates/conference/netlify.toml
sponsors-main/templates/conference/preview.png
sponsors-main/templates/conference/README.md
sponsors-main/templates/conference/assets/media/icon.png
sponsors-main/templates/conference/assets/media/backgrounds/evangeline-shaw-xRlI-L-kvrw-unsplash.jpg
sponsors-main/templates/conference/assets/media/backgrounds/humphrey-muleba-72QxUqXuXz8-unsplash2.webp
sponsors-main/templates/conference/assets/media/backgrounds/intro.webm
sponsors-main/templates/conference/assets/media/backgrounds/spotlight.webp
sponsors-main/templates/conference/assets/media/icons/.gitkeep
sponsors-main/templates/conference/assets/media/sponsors/hugo.png
sponsors-main/templates/conference/assets/media/sponsors/wowchemy.png
sponsors-main/templates/conference/assets/scss/template.scss
sponsors-main/templates/conference/config/_default/config.yaml
sponsors-main/templates/conference/config/_default/menus.yaml
sponsors-main/templates/conference/config/_default/params.yaml
sponsors-main/templates/conference/content/admin/index.md
sponsors-main/templates/conference/content/authors/_index.md
sponsors-main/templates/conference/content/authors/nelson-bighetti/_index.md
sponsors-main/templates/conference/content/authors/nelson-bighetti/avatar.jpg
sponsors-main/templates/conference/content/authors/吳恩達/_index.md
sponsors-main/templates/conference/content/authors/吳恩達/avatar.jpg
sponsors-main/templates/conference/content/event/_index.md
sponsors-main/templates/conference/content/event/example/featured.jpg
sponsors-main/templates/conference/content/event/example/index.md
sponsors-main/templates/conference/content/home/about.md
sponsors-main/templates/conference/content/home/contact.md
sponsors-main/templates/conference/content/home/faq.md
sponsors-main/templates/conference/content/home/index.md
sponsors-main/templates/conference/content/home/intro.md
sponsors-main/templates/conference/content/home/schedule.csv
sponsors-main/templates/conference/content/home/schedule.md
sponsors-main/templates/conference/content/home/speakers.md
sponsors-main/templates/conference/content/home/sponsors.md
sponsors-main/templates/conference/content/home/stats.md
sponsors-main/templates/conference/content/home/tickets.md
sponsors-main/templates/conference/content/home/workshops.md
sponsors-main/templates/conference/data/themes/lime.toml
sponsors-main/templates/conference/layouts/partials/custom_head.html
sponsors-main/templates/conference/layouts/partials/widgets/tickets.html
sponsors-main/templates/conference/static/uploads/.gitkeep
sponsors-main/templates/fitness-coach/go.mod
sponsors-main/templates/fitness-coach/netlify.toml
sponsors-main/templates/fitness-coach/preview.webp
sponsors-main/templates/fitness-coach/README.md
sponsors-main/templates/fitness-coach/assets/media/icon.png
sponsors-main/templates/fitness-coach/assets/media/intro.mp4
sponsors-main/templates/fitness-coach/assets/media/kelly-sikkema-bE6k8SQT2FQ-unsplash.jpg
sponsors-main/templates/fitness-coach/assets/media/icons/.gitkeep
sponsors-main/templates/fitness-coach/assets/scss/template.scss
sponsors-main/templates/fitness-coach/config/_default/config.yaml
sponsors-main/templates/fitness-coach/config/_default/menus.yaml
sponsors-main/templates/fitness-coach/config/_default/params.yaml
sponsors-main/templates/fitness-coach/content/admin/index.md
sponsors-main/templates/fitness-coach/content/authors/_index.md
sponsors-main/templates/fitness-coach/content/authors/admin/_index.md
sponsors-main/templates/fitness-coach/content/authors/admin/avatar.jpg
sponsors-main/templates/fitness-coach/content/event/_index.md
sponsors-main/templates/fitness-coach/content/event/example/featured.jpg
sponsors-main/templates/fitness-coach/content/event/example/index.md
sponsors-main/templates/fitness-coach/content/home/bio.md
sponsors-main/templates/fitness-coach/content/home/book.md
sponsors-main/templates/fitness-coach/content/home/contact.md
sponsors-main/templates/fitness-coach/content/home/index.md
sponsors-main/templates/fitness-coach/content/home/intro.md
sponsors-main/templates/fitness-coach/content/home/motivation.md
sponsors-main/templates/fitness-coach/content/home/services.md
sponsors-main/templates/fitness-coach/content/home/talks.md
sponsors-main/templates/fitness-coach/data/themes/strawberry_dark.toml
sponsors-main/templates/fitness-coach/layouts/partials/custom_head.html
sponsors-main/templates/fitness-coach/layouts/partials/widgets/starter.fitness-coach.book.html
sponsors-main/templates/fitness-coach/static/uploads/resume.pdf
sponsors-main/templates/researcher/go.mod
sponsors-main/templates/researcher/netlify.toml
sponsors-main/templates/researcher/preview.png
sponsors-main/templates/researcher/README.md
sponsors-main/templates/researcher/assets/media/hello.jpg
sponsors-main/templates/researcher/assets/media/icon.png
sponsors-main/templates/researcher/assets/media/icons/.gitkeep
sponsors-main/templates/researcher/assets/media/icons/brands/org-gc.svg
sponsors-main/templates/researcher/assets/media/icons/brands/org-x.svg
sponsors-main/templates/researcher/assets/scss/template.scss
sponsors-main/templates/researcher/config/_default/config.yaml
sponsors-main/templates/researcher/config/_default/menus.yaml
sponsors-main/templates/researcher/config/_default/params.yaml
sponsors-main/templates/researcher/content/admin/index.md
sponsors-main/templates/researcher/content/authors/_index.md
sponsors-main/templates/researcher/content/authors/admin/_index.md
sponsors-main/templates/researcher/content/authors/admin/avatar.jpg
sponsors-main/templates/researcher/content/event/_index.md
sponsors-main/templates/researcher/content/event/example/featured.jpg
sponsors-main/templates/researcher/content/event/example/index.md
sponsors-main/templates/researcher/content/home/accomplishments.md
sponsors-main/templates/researcher/content/home/bio.md
sponsors-main/templates/researcher/content/home/contact.md
sponsors-main/templates/researcher/content/home/education.md
sponsors-main/templates/researcher/content/home/experience.md
sponsors-main/templates/researcher/content/home/featured.md
sponsors-main/templates/researcher/content/home/index.md
sponsors-main/templates/researcher/content/home/mission.md
sponsors-main/templates/researcher/content/home/publications.md
sponsors-main/templates/researcher/content/home/talks.md
sponsors-main/templates/researcher/content/publication/_index.md
sponsors-main/templates/researcher/content/publication/conference-paper/cite.bib
sponsors-main/templates/researcher/content/publication/conference-paper/featured.jpg
sponsors-main/templates/researcher/content/publication/conference-paper/index.md
sponsors-main/templates/researcher/content/publication/journal-article/cite.bib
sponsors-main/templates/researcher/content/publication/journal-article/featured.jpg
sponsors-main/templates/researcher/content/publication/journal-article/index.md
sponsors-main/templates/researcher/content/publication/preprint/featured.jpg
sponsors-main/templates/researcher/content/publication/preprint/index.md
sponsors-main/templates/researcher/content/slides/example/index.md
sponsors-main/templates/researcher/data/fonts/.gitkeep
sponsors-main/templates/researcher/data/fonts/researcher.toml
sponsors-main/templates/researcher/data/themes/.gitkeep
sponsors-main/templates/researcher/data/themes/researcher.toml
sponsors-main/templates/researcher/static/uploads/resume.pdf
website_figures.ai
